@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'B612 Mono', monospace;
  background-color: var(--bg-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quattrocento Sans', sans-serif;
}

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

/* --------- animation formulaire -----------  */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out both;
}

/*-------- Mode clair -------*/
:root {
  --bg-body: #fff;
  --bg-color: #f5f5f5;
  --bg-gradient-from: #fff;
  --bg-gradient-via: #fff;
  --bg-gradient-to: #f5f5f5;
  --bg-input: #F9F9F9;
  --bg-submit: #232526;
  --text-main: #202020;
  --text-main-inverse: #fff;
  --main-inverse: #E0E0E0;
  --text-secondary: #646464;
  --text-link: #202020;
  --text-link-hover: #A1A1A1;
  --nav-bg: #F0F0F0;
  --card-bg: #F9F9F9;
  --badge-bg: #E0E0E0;
  --learn-bg: #E0E0E0;
  --learn-hover: #CECECE;
  --icon: #202020;
  --icon-hover: #E8E8E8;
  --btn-color: #202020;
  --particles-color: #202020;
  --border-b: #000;
  --border-t: #000;
  --border-input: #E0E0E0;
  --border-input-focus: #CECECE;
}

/*-------- Mode sombre -------*/
[data-theme="dark"] {
  --bg-body: #000;
  --bg-color: #232526;
  --bg-gradient-from: #000;
  --bg-gradient-via: #000;
  --bg-gradient-to: #232526;
  --bg-input: #222222;
  --bg-submit: #f5f5f5;
  --text-main: #EEEEEE;
  --text-main-inverse: #000;
  --main-inverse: #313131;
  --text-secondary: #B4B4B4;
  --text-link: #EEEEEE;
  --text-link-hover: #A1A1A1;
  --nav-bg: #222222;
  --card-bg: #191919;
  --badge-bg: #313131;
  --learn-bg: #313131;
  --learn-hover: #484848;
  --icon: #EEEEEE;
  --icon-hover: #A1A1A1;
  --btn-color: #EEEEEE;
  --particles-color: #EEEEEE;
  --border-b: #fff;
  --border-t: #fff;
  --border-input: #3A3A3A;
  --border-input-focus: #484848;
}

/* Utilisation des variables dans les classes Tailwind personnalisées */
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--bg-gradient-from), var(--bg-gradient-via), var(--bg-gradient-to));
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--bg-gradient-from), var(--bg-gradient-via), var(--bg-gradient-to));
}

.bg-body {
  background-color: var(--bg-body);
}

.bg-color {
  background-color: var(--bg-color);
}

.bg-main-inverse {
  background-color: var(--main-inverse);
}

.bg-input {
  background-color: var(--bg-input);
}

.bg-submit {
  background-color: var(--bg-submit);
}

.text-main {
  color: var(--text-main);
}

.text-main-inverse {
  color: var(--text-main-inverse);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-secondary:hover {
  color: var(--text-link-hover);
}

.text-link {
  color: var(--text-link);
}

.text-link:hover {
  color: var(--text-link-hover);
}

.bg-nav {
  background-color: var(--nav-bg);
}

.bg-card {
  background-color: var(--card-bg);
}

.bg-badge {
  background-color: var(--badge-bg);
}

.bg-learn {
  background-color: var(--learn-bg);
}

.bg-learn:hover {
  background-color: var(--learn-hover);
}

.icon {
  color: var(--icon);
}

.icon:hover {
  color: var(--icon-hover);
}

.btn-color {
  color: var(--btn-color);
}

.particle-color {
  color: var(--particles-color);
}

.border-b {
  border-bottom: 2px solid var(--border-b);
}

.border-t {
  border-top: 1px solid var(--border-t);
}

.border-input {
  border: 1px solid var(--border-input);
}

.border-input:focus {
  border-color: var(--border-input-focus);
}